* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: auto;
  height: 40%;
}
.para {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  word-spacing: 2px;
  margin-top: 3%;
}

.area {
  position: relative;
  background-color: hsl(213, 19%, 18%);
  padding: 6%;
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

h1 {
  color: white;
  margin-top: 3%;
}

.rating_display {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  padding: 3%;
  margin-top: 3%;
  color: hsl(25, 97%, 53%);
}

.score {
  border-radius: 50%;
  font-size: 20px;
  height: 7vw;
  width: 7vw;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  color: grey;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.star {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 5vw;
  width: 5vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-bottom: 5%;
}
.star img{
  height: auto;
  width: 60%;
}
.scoreActive {
  background-color: orangered;
  color: white;
}

.submit {
  color: white;
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  padding: 3%;
  border-radius: 20px;
  border: none;
  margin-top: 5%;
}
.score_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rating {
  margin-top: 5%;
}

.score:hover {
  color: white;
  background-color: orange;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.hide {
  display: none;
}
@media screen and (max-width: 600px) {
  .area {
    width: 90%;
    height: auto;
  }
  .para {
    font-size: 4vw;
    word-wrap: break-word;
  }
  h1 {
    font-size: 5vw;
  }
  .submit{
    font-size: 2vw;
  }
  .score{
    font-size: 3vw;

  }

.rating_display{
  font-size: 3vw;
}
.banner{
  height: 49vw;
}
}
